allow fingerprintd gx_fpd_device:chr_file rw_file_perms;
allow fingerprintd sysfs:file rw_file_perms;
allow fingerprintd storage_file:dir create_dir_perms;
allow fingerprintd storage_file:lnk_file create_file_perms;
allow fingerprintd mnt_user_file:dir create_dir_perms;
allow fingerprintd mnt_user_file:lnk_file create_file_perms;

allow fingerprintd self:capability { dac_override dac_read_search };
allow fingerprintd fuse:dir create_dir_perms;
allow fingerprintd fuse:file create_file_perms;

binder_call(fingerprintd, gx_fpd);
allow fingerprintd gx_fpd_service:service_manager find;

# For Goodix fingerprint
allow fingerprintd gx_fpd_lib_file:file r_file_perms;
allow fingerprintd gx_fpd_lib_file:file { getattr read execute execmod };
allow fingerprintd gx_fpd_lib_file:chr_file { r_file_perms setattr };
allow fingerprintd gx_fp_lib_file:file rx_file_perms;
allow fingerprintd gx_fp_lib_file:chr_file { r_file_perms setattr };

